<div class="modal-container">	
	<h1 mat-dialog-title>Details</h1>
	<div mat-dialog-content>
		<div class="details-container">
			<div class="details-left">
				<img class="cover" mat-card-image [src]="book.cover" alt="book.title">
				<div class="stats-container">
					<span>Rating: {{book.rating}}</span><span>Reviews: {{book.reviewsNumber}}</span>
				</div>
			</div>
			<div class="details-right">
				<div class="about-container">
					<p>{{book.title}}</p>
					<p>{{book.author}}, {{book.genre}}</p>
				</div>
				<div class="content-container">
					<p>{{book.content}}</p>
				</div>
			</div>
		</div>
		<mat-divider></mat-divider>
		<div class="review-container">
			<div class="review" *ngFor="let review of book.reviews">
				<mat-divider></mat-divider>
				<h3>{{review.reviewer}}</h3>
				<p>{{review.message}}</p>
			</div>
		</div>
	</div>
	
	<div mat-dialog-actions>
		<button mat-button mat-dialog-close>Close</button>
	</div>
</div>